<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>escolha usuario</title>
</head>
<body>
    <h1>escolha seu tipo de usuario</h1>

    <a href="{% url 'usuario' %}">
        <button type="button">Usuario</button>
    </a> <br> <br>

    <a href="{% url 'desenvolvedor' %}">
        <button type="button">Desenvolvedor</button>
    </a> <br> <br>

    <a href="{% url 'Distribuidora' %}">
        <button type="button">Distribuidora</button>
    </a>

</body>
</html>